::-webkit-scrollbar { 
    display: none; 
}

body {
    margin-top: 56px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color:transparent;
    font-family: 'Roboto', sans-serif;
}

nav{
	background-color:#555;
}
nav .navbar-brand {
	color:#fff;
}
nav li a {
	color:#fff;
}
nav li a:hover{
	color:#000;
	background-color:#ccc;
}
nav li a:focus{
	color:#fff;
}


.side-column{
	background-color:#ddd;
	min-height:1024px;
}
.middle-column{
	margin-top:30px;
}
.full {
    background: url('../img/bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.main{
	margin:0;
}
.match {
	border : 1px solid #CCC;
	padding:15px 0;
	margin-bottom: 10px;
	text-align:center;
	font-size:30px;
	background-position:center;
}
.lol{
	background-image: url("/img/bg-lol.jpg");
}
.tf2{
	background-image: url("/img/bg-tf2.jpg");
}
.minecraft{
	background-image: url("/img/bg-minecraft.jpg");
}
